<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ site.title | default: site.github.repository_name }}</title>
  <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% feed_meta %}
</head>

<body>

  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>

      <h1 id="project_title" class="project_title"><a href="{{ site.baseurl }}/"><span class="firstname">{{ site.firstname }}</span> <span class="lastname">{{ site.lastname }}</span></a></h1>
      <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

      {% if site.show_downloads %}
      <section id="downloads">
        <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
        <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
      </section>
      {% endif %}
    </header>
  </div>

  <!-- MAIN CONTENT & MENU -->
  <div id="main_content_wrap" class="outer">
    <nav class="right absolute-lg right-0 top-0 inner">
      <ul class="mt-2 mr-2 mr-lg-3">
        <li class="inline-block block-lg text-right ml-1 ml-lg-0">
          <a class="italic h4 bold no-underline" href="{{ site.baseurl }}/">Home</a> &nbsp
        </li>
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <li class="inline-block block-lg text-right ml-1 ml-lg-0">| &nbsp
              <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <section id="main_content" class="inner">
      {{ content }}
    </section>
  </div>

  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      {% if site.github.is_project_page %}
      <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p class="publisher">Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      <a href="{{ site.baseurl }}/feed.xml">
        <img src="{{ site.baseurl }}/assets/images/rss.svg" alt="RSS feed" width="36" height="36">
      </a>
      <p class="tribute">For Eric <a href="http://meyerweb.com/eric/thoughts/2014/06/19/rebeccapurple/">#663399</a></p>
    </footer>
  </div>

</body>
</html>
